* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 100px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logo:hover {
  color: #4697ac;
  transform: scale(1.1);
}

span {
  color: #4697ac;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: #4697ac;
  border-bottom: 2px solid #4697ac;
}

.contact {
  padding: 10px 28px;
  background-color: #fff;
  color: #000;
  border: 2px solid transparent;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.contact:hover {
  background-color: #4697ac;
  box-shadow: 0 0 10px #4697ac;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 100px 0;
}

.home-content {
  max-width: 800px;
}

.home-content h2 {
  font-size: 36px;
}

.home-content h1 {
  font-size: 48px;
  line-height: 1.2;
}

.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
}

.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}

.btn-2 {
  padding: 15px 28px;
  background-color: #4697ac;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-2:hover {
  background-color: #fff;
  color: #4697ac;
}

.image-frame img {
  border-radius: 20px;
  width: 480px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #4697ac;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.abt-content h2 {
  text-align: left;
  color: #000;
  font-size: 42px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 35px 100px;
  align-items: center;
  margin-top: 40px;
}

.desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.services-offered img {
  align-items: center;
}

.container {
  padding: 15px 100px;
  padding-bottom: 100px;
}
.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  height: 300px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
  align-items: center;
  background-color: #225e6d;
}

.banner-txt {
  color: #fff;
  width: 50%;
  font-weight: 500;
  font-size: 20px;
}

.contact-me {
  margin-right: 10px;
  color: #4697ac;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.contact-me:hover {
  color: #fff;
  background-color: #4697ac;
}
.call-me {
  border: none;
  color: #fff;
}

.footer {
  width: 100%;
  position: relative;
  padding: 40px 0;
  bottom: 0;
  background-color: #13424e;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}

.footer .social a {
  font-size: 24px;
  color: #fff;
  /* border: 2px solid #e7b11c; */
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  transition: all 0.3s ease;
}

.footer .social a:hover {
  color: #4697ac;
  transform: scale(1.1) translateY(-10px);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.footer ul li a:hover {
  border-bottom: 3px solid #4697ac;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* @media (max-width: 1600px) {
  .header {
    padding: 13px 3%;
  }
  section {
    padding: 0 5%;
  }
} */

/* @media (max-width: 1470px) {
  .image-frame {
    height: 400px;
    width: 400px;
  }
} */
